@import "colours";

.email {
  padding: 65px;
}

.email__header {
  text-align: center;
  color: $grey;
  position: relative;
  padding: 100px 0 40px;
  border-bottom: 1px solid $palegrey;
  margin-bottom: 35px;
}

.email__header::before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  background-color: $green;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../icons/check-symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}

.email__title {
  margin-bottom: 5px;
}

.email__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.5em;
  span {
    margin-right: 5px;
  }
}

.email__address {
  color: $brightblue;
  display: inline;
  margin-right: 5px;
}

.email__content {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.44em;
}
