@import "colours";

.email-form__title {
  color: white;
  background-color: $blue;
  font-size: 17px;
  padding: 25px 35px;
}

.email-form__fieldset {
  border: none;
  padding: 35px;
}

.email-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email-form__field {
  display: block;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $palegrey;
  margin-bottom: 12px;

  &.error {
    border-color: red;
  }
}

.email-form__field--textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.email-form__button {
  border-radius: 30px;
  border: none;
  background: $brightblue;
  color: white;
  padding: 9px 15px 9px 35px;
  cursor: pointer;
  position: relative;
}

.email-form__button:disabled {
  background: $lightgrey;
  color: $grey;
  cursor: not-allowed;
}

.email-form__button::before {
  content: "";
  display: inline-block;
  background-image: url(../icons/right-arrow-white.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 13px;
  top: 8px;
}

.email-form__button:disabled::before {
  background-image: url(../icons/right-arrow.svg);
}

.email-form__file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.email-form__upload-label {
  width: 30px;
  height: 30px;
  border: 1px solid $palegrey;
  cursor: pointer;
  border-radius: 30px;
  background: url(../icons/paperclip.svg) no-repeat center;
  background-size: 70%;
}
