@import "colours";

.email-form__title {
  color: white;
  background-color: $blue;
  font-size: 17px;
  padding: 25px 35px;
}

.email-form__fieldset {
  border: none;
  padding: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.email-form__field {
  display: block;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $palegrey;
  margin-bottom: 12px;
}

.email-form__field--textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.email-form__button {
  border-radius: 30px;
  background: $lightgrey;
  color: $grey;
  border: none;
  padding: 9px 15px 9px 35px;
  cursor: pointer;
  position: relative;
}

.email-form__button:before {
  content: "";
  display: inline-block;
  background-image: url(../icons/right-arrow.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 13px;
  top: 8px;
}
